{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <div class="container border-bottom">
        <div class="row my-5">
            <h1 class="text-center">
                {% block title %}About Us{% endblock %}
            </h1>
        </div>
    </div>

    <!-- Content -->
    <div class="container border-bottom">
        <div class="row my-5 lead">
            <p>
                Welcome to Digital Currency Pay!
            </p>
            <p>
                At Digital Currency Pay, we're excited to be at the forefront of the digital payments revolution in Nigeria. We're a leading eNaira payment gateway that enables businesses to accept payments online and offline, while individuals can and pay bills conveniently from their phones or computers.
            </p>
            <p>
                Our platform is designed with user experience and security in mind. We offer a seamless payment experience that's fast, reliable, and easy to use, while ensuring that your transactions are secure and compliant with industry standards.
            </p>
            <p>
                Our team comprises experts in the fields of finance, technology, and customer service. We're passionate about leveraging technology to create innovative solutions that solve real-world problems. With eNaira, we're able to offer a digital payment solution that's fast, secure, and accessible to all Nigerians.
            </p>
            <p>
                At Digital Currency Pay, we're committed to making payments easier and more convenient for everyone. Whether you're a business owner looking to expand your customer base, or an individual looking to pay bills on-the-go, our eNaira payment gateway has got you covered.
            </p>
            <p>
                Thank you for choosing Digital Currency Pay as your eNaira payment gateway. We look forward to serving you!
            </p>
        </div>
    </div>

{% endblock %}