<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Digital Currency Pay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 18 18">
                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
                Digital Currency Pay
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('about_us') }}" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Payments</a>
                        <ul class="dropdown-menu">
                            <a href="{{ url_for('checkout_demo') }}" class="dropdown-item">Checkout Demo</a>
                            <a href="{{ url_for('payment_links') }}" class="dropdown-item">Payment Links Demo</a>
                            <a href="{{ url_for('pay_bills') }}" class="dropdown-item">Pay Bills Demo</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('contact_us') }}" class="nav-link">Contact Us</a>
                    </li>
                </ul>
                <a href="{{ url_for('merchant_login') }}" class="d-flex btn btn-outline-success me-2">Merchant Log In</a>
                <a href="{{ url_for('customer_login') }}" class="d-flex btn btn-outline-success me-2">Customer Log In</a>
            </div>
        </div>
    </nav>
    <!-- Top Banner -->
    {% block content %}{% endblock %}

    <!-- Call to Action Banner -->
    <div class="container">
        <div class="row my-5">
            <div class="co text-center">
                <h2 class="display-6">
                    Ready to Accept eNaira Payments for Your Business?
                </h2>
                <p class="lead text-center">
                    We have easy to integrate APIs for developers, with a comprehensive documentation.
                </p>
                <a href="{{ url_for('contact_us') }}" class="btn btn-success btn-lg">Contact Sales</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-body-tertiary p-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <p>&copy; 2023 Digital Currency Pay. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>